body {
	display: grid;
	min-height: 100vh;
	place-items: center;
	background-color: rgb(33, 35, 42);
}

.container {
	width: 360px;
	height: 480px;
	display: grid;
	place-content: center;
}

.card {
	--rotateX: 0deg;
	--rotateY: 0deg;
	--scale: 1;
	transform: perspective(500px) rotateX(var(--rotateX)) rotateY(var(--rotateY)) scale(var(--scale));
	transition: transform 250ms ease;
	position: relative;
}

.card:hover::after {
	opacity: 1;
}

.card::after {
	z-index: -2;
	content: "";
	pointer-events: none;
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: 9px;
	background-image: linear-gradient(235deg, #00ff15, black, #0004ff);
	/* background-image: linear-gradient(45deg, black, white, black); */
	filter: blur(1em);
	opacity: 0.5;
	transition: opacity 150ms linear;
}

.content {
	width: 240px;
	height: 360px;
	display: grid;
	place-content: center;
	background-color: black;
	color: white;
	border-radius: 9px;
}
